.App {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  overflow: auto;
  background-color: #33333d;
  color: white;
}

.element-container {
  background-color: #28282f;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 2rem;
  max-width: calc(100vw - 4rem);
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
}

.element-container h3 {
  margin-top: 0;
}

label {
  margin-top: 1rem;
}

button {
  margin-top: 0.5rem;
}
